.task-title {
  padding-right: 10px;
}

#to-do-list {
  list-style-type: none;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin-top: 30px;
  padding: 0;
  flex: 1 1 80%;
}

#to-do-list > li {
  line-height: 50px;
  border-bottom: 1px solid #ccc;
  padding: 0 5px;
  overflow: hidden;
}

#to-do-list > li:last-of-type {
  border: none;
}

#to-do-list > li > input[type="checkbox"] {
  margin: 0 10px;
  width: 15px;
  height: 15px;
}

#to-do-list > li > input[type="text"] {
  min-width: 50%;
  margin-left: 10px;
  background: transparent;
  border: none;
}

.icon-delete, .icon-edit {
  cursor: pointer;
}

.icon-delete,
.icon-edit {
  float: right;
  margin: 14px 10px 0 0;
}

.icon-edit {
  padding-left: 10px;
}

.visible {
  display: inline-block;
}

.edit-desc input {
  margin-right: 5px;
}
