@import url('https://fonts.googleapis.com/css?family=PT+Sans:400,700');

body {
  margin: 0;
  padding: 0;
  font: 400 16px/1.6 'PT Sans', sans-serif;
}

input, textarea, select, button {
  font-size: 16px;
}

h1 {
  font-size: 28px;
  color: #8516b3;
  text-align: center;
  margin: 30px 0;
}

.main-wrapp {
  max-width: 90%;
  margin: 0 auto;
}

.content-wrapp {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
